@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow-sm {
      text-shadow: 2px 2px black;
    }
    .text-shadow {
      text-shadow: 3px 3px #f9cc7f;
    }
    .text-shadow-md {
      text-shadow: 3px 3px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
